<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header"></head>
<body class="h-100">
<main class="container d-flex h-100 p-3 mx-auto flex-column">
    <section>
        <article class="col-12 col-md-6 m-auto">
            <h2 style="color:rgba(0,0,0,.5);" class="mt-3 mb-5">Register</h2>
            <div id="registrationMessage" th:class="'alert ' + ${alertClass}" th:if="${message}"
                 th:text="${message}"></div>
            <form th:action="@{'/registration'}" th:object="${user}" method="post">
                <div th:replace="fields/input :: input('text', 'username', 'Username:', 'username', true, false)"></div>
                <span class="error d-block mb-3" th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}"></span>
                <div th:replace="fields/input :: input('text', 'password', 'Password:', 'password', true, false)"></div>
                <span class="error d-block mb-3" th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}"></span>
                <div th:replace="fields/input :: input('text', 'confirmPassword', 'Confirm password:', 'confirm password', true, false)"></div>
                <span class="error d-block mb-3" th:if="${passwordMatchProblem}"
                      th:text="${passwordMatchProblem}"></span>
                <button class="btn btn-danger mb-5 disabled">Register</button>
                <small class="d-block mt-1">As we don't collect and don't store any of user data, therefore
                    the register button is disabled, but in the source code you can see the registration process is
                    complete,
                    I just didn't want any problem because of the GDPR constraints.
                    You can use my existing user login data, please check them on my CV and you can use them on the
                    login page,
                    so here: <a style="color: rgba(0,0,0,.5);" href="/login">go to login page</a>
                </small>
            </form>
        </article>
    </section>
    <footer th:replace="fragments/footer :: footer"></footer>
</main>
</body>
</html>